{% extends 'default.html' %}

{% block content %}
<h2>About {{ author }}</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam suscipit mi diam. In justo lorem, accumsan non purus commodo, vehicula hendrerit mi. Aliquam eget erat id lectus feugiat ultricies sit amet in diam. Aenean molestie fermentum magna, id euismod ipsum accumsan id. Donec convallis metus in velit ultrices gravida. Ut convallis nulla quam, eu egestas neque scelerisque in. Vivamus varius accumsan ex. Quisque et magna elementum, gravida nunc id, pretium est.
</p>
<p>
Nam rhoncus ipsum et congue commodo. Nunc volutpat sem lectus, ultrices commodo arcu pharetra eu. Curabitur ac lacus eros. Nullam varius euismod pretium. Praesent condimentum pellentesque maximus. Sed vel interdum sem. Morbi ac orci cursus, maximus mauris non, bibendum velit. Morbi a neque rhoncus, placerat turpis non, tristique ex. Aliquam id erat laoreet, viverra nunc sed, congue risus. Nam vel lectus odio. Aenean luctus velit ac tellus sollicitudin cursus. Integer a magna risus. Pellentesque neque mauris, porttitor sollicitudin ex eget, congue faucibus mauris. Nunc pharetra sollicitudin orci sit amet fermentum. Etiam quis aliquet ligula, in euismod magna. 
</p>
<h2>About the site: {{ site_desc }}</h2>
<p>
Aenean viverra mi in urna vulputate dignissim. Quisque quis quam at risus lobortis porttitor a vel felis. Mauris vel dictum magna, at laoreet dolor. Fusce erat quam, bibendum ut malesuada a, finibus non ante. Phasellus elementum ligula in purus tempor ultricies. Cras faucibus, velit dapibus luctus semper, ipsum urna elementum lorem, a dapibus lorem augue eu orci. Nunc eleifend erat sit amet malesuada lacinia. Mauris pellentesque lectus libero, at posuere velit egestas eu. Nunc a tincidunt augue. Vestibulum tellus purus, maximus et scelerisque non, tristique in purus. Sed mollis nunc quis tellus dictum ullamcorper. In et mi ultricies, posuere elit non, facilisis quam. Duis lacinia justo purus, quis iaculis neque sollicitudin quis. Vivamus venenatis viverra rutrum. Mauris varius, libero at cursus tristique, dui dolor volutpat velit, vitae congue nisl enim pulvinar tortor. Nunc lacus augue, pharetra id posuere sed, molestie ac augue.
</p>
<p>
Sed et neque ultrices, euismod dolor non, porta risus. Suspendisse eget malesuada nunc. Phasellus convallis leo eu orci vehicula, sed pulvinar augue ultricies. Pellentesque vel lorem eget augue scelerisque molestie a gravida metus. Suspendisse tincidunt, sem nec cursus iaculis, metus urna malesuada tortor, id tempor eros tellus vel arcu. Quisque fermentum orci maximus, placerat tellus eu, pulvinar sapien. Sed quis molestie libero.
</p>
<p>
Nunc enim diam, laoreet nec ipsum sit amet, rutrum pharetra massa. Etiam a facilisis ipsum, in condimentum nunc. Phasellus mollis feugiat felis quis accumsan. Sed feugiat ipsum sed arcu hendrerit euismod. Suspendisse euismod sem a semper pretium. Nam dignissim sem eget tincidunt ullamcorper. Nam nisl dolor, posuere pretium consequat eget, tempus nec leo. Vivamus faucibus aliquam erat, id egestas libero. Maecenas ut euismod erat, id dignissim risus. Mauris porta fringilla dui vitae dignissim. Integer elit nisl, lacinia semper varius et, lacinia in odio. 
</p>

{% endblock %}
